

/*CARD STYLES*/

#generalCard {
    height: 42vh;
    width: 30vh;
    border: 4px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    background-color:rgb(117, 134, 197);
}

#divCard {
    width: 100%;
    height: 100%;
}
#imageCard{
    
    width: 100%;
    height: 100%;
}

#divIitleCard{
    text-align: center;
    
}
#divTextCard{
    text-align: center;
}
#divBtnCard{
    text-align: center;
}