
body{
    background-image: url(/media/imgs/background.jpg);
    background-repeat: no-repeat;
    width: 99%;
    height: auto;
    background-position: center;
    background-size: cover;
}


/*General div contains the grid table and user info*/
#general{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    min-height: 98vh;

}

/*User info*/
#userInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #E4A951;
    height: 100%;
    font-family: 'Audiowide', cursive;
}



#dice{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#btnRoll{
    margin-left: auto;
    margin-right: auto;
}


/*table*/
#table{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10vh;
    
}

.positions{
display: flex;
justify-content: center;
align-items: center;
}
#startLine{
    
}
#startLine2{
    
}

.button{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 70%;
    height: 70%;
    border-radius: 5px;
}

.button1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 70%;
    height: 70%;
    border-radius: 5px;
}


#hueco{
    background-color: black;
}

#divPhoto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#imgUserResult{
    width: 3vh;
}
#imgUserResult2{
    position: absolute;
    width: 3vh;
    
}

#wa, #ra{
    text-align: center;
}



